<div>
	<h2>Bienvenido {{userData.username}}</h2>

	<h1>Productos:</h1>

	<ul>
		{{#each products.docs}}
			<li>
				<p><b>{{title}}</b></p>
				<p>Precio: ${{price}}</p>
				<p>Descripción: {{description}}</p>
				<p>Stock: {{stock}}</p>
				<p>Categoría: {{category}}</p>
			</li>
		{{/each}}
	</ul>

</div>

<div>
	{{#if products.hasPrevPage}}
		<a
			href="/?page={{products.prevPage}}&sort={{products.sort}}&limit={{products.limit}}"
		>Anterior</a>
	{{/if}}
	<span>Página {{products.page}} de {{products.totalPages}}</span>
	{{#if products.hasNextPage}}
		<a
			href="/?page={{products.nextPage}}&sort={{products.sort}}&limit={{products.limit}}"
		>Siguiente</a>
	{{/if}}
</div>