<h1>Tu perfil</h1>
<h2>Hola {{userData.username}}</h2>
<h2>Hola {{this.name}}</h2>
<h2>Hola {{req.user.name}}</h2>
<h2>Hola {{user.name}}</h2>
<h2>Hola {{username}}</h2>
<h3>Tu rol es de {{userData.rol}}</h3>
<a href="/api/sessions/logout">cerrar sesion</a>